<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alertas SSOLeica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="font-family: sans-serif;
             font-size: 10px;min-height: 100%;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
             margin: 0;
             padding: 0;
             background-color: #e7e7e7">
<table cellpadding="0" cellspacing="0" style="width: 100%;height: 100%">
    <tr style="background-color: #2fa4e7;
                     border-top-color: #1995dc;
                     border-right-color: #1995dc;
                     border-bottom-color: #1995dc;
                     border-left-color: #1995dc;">
        <td><br/></td>
    </tr>
    <tr>
        <td>
            <h1 style="margin-top: 0.67em;margin-right: 0px;margin-bottom: 0.67em;margin-left: 0px;font-size: 2em;">
                <img src="http://ssoleica.herokuapp.com/images/logoHexagon.png" alt="HexagonMining"/>
                <img src="http://ssoleica.herokuapp.com/images/logoLeicaGeosystem.gif" lt="Leica Geosystems" width="69"/>
                SSO Leica <small style="font-size: 65%;font-weight: normal;line-height: 1;color: #777777;">Geosystems Perú</small>
            </h1>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr style="background-color: #3c8dbc;
                     color: #ffffff;">
        <td style="padding: 1em; font-size: 1.2em;">
            <strong style="">Copyright © 2015 <a href="http://ssoleica.herokuapp.com/" target="_blank" style="color: #fff;
                                                                                                                  text-decoration-line: none;
                                                                                                                  text-decoration-style: solid;">Leica Geosystems</a>.</strong> All rights reserved.
        </td>
    </tr>
</table>
</body>
</html>